
<div class="card">
    <div class="container mb-5">
       <div class="py-5 text-center">
           <div id="icon" class="d-block mx-auto mb-4"></div>
         <h2>Place Order</h2>
         <p class="lead">Finalize Your Order. Please fill the following information.</p>
       </div>
     
       <div class="row">       
         <div class="col-md-10 offset-1 order-md-1">
           <h4 class="mb-3">Customer Details</h4>
           <form [formGroup]="angForm" novalidate>
             <div class="row">
               <div class="col-md-6 mb-3">
                 <label for="firstName">First name <label style="color: red;">*</label></label>
                 <input type="text" class="form-control" id="firstName" placeholder="" value="" formControlName="fname" required #fname>
               </div>
               <div class="col-md-6 mb-3">
                 <label for="lastName">Last name <label style="color: red;">*</label> </label>
                 <input type="text" class="form-control" id="lastName" placeholder="" value="" formControlName="lname" required #lname>
               </div>
             </div>
             <div class="row">
              <div
              *ngIf="
                angForm.controls['fname'].invalid &&
                (angForm.controls['fname'].dirty ||
                angForm.controls['fname'].touched)
              "
              class="alert alert-danger col-md-6 mb-3"
              >
              <div *ngIf="angForm.controls['fname'].errors.required">
                  Customer First Name is Required.
              </div>
              </div>
                 <div
              *ngIf="
                angForm.controls['lname'].invalid &&
                (angForm.controls['lname'].dirty ||
                angForm.controls['lname'].touched)
              "
              class="alert alert-danger col-md-6 mb-3"
              >
              <div *ngIf="angForm.controls['lname'].errors.required">
                  Customer Last Name is Required.
              </div>
              </div>
             </div>
             <div class="mb-3">
               <label for="email">Email <span class="text-muted">(Optional)</span></label>
               <input type="email" class="form-control" id="email" placeholder="you@example.com"  #email>
             </div>
     
             <div class="mb-3">
               <label for="address">Contact no. <label style="color: red;">*</label></label>
               <input type="text" class="form-control" id="address" placeholder="+92" required #contact>
             </div>
             <!-- <div
            *ngIf="
              angForm.controls['contact'].invalid &&
              (angForm.controls['contact'].dirty ||
              angForm.controls['contact'].touched)
            "
            class="alert alert-danger"
            >
            <div *ngIf="angForm.controls['contact'].errors.required">
                Contact number is Required.
            </div>
            </div> -->

             <hr class="mb-4">

             <h4 class="mb-3">Order Type</h4>
     
             <div class="d-block my-3" name="main">
               <div class="custom-control custom-radio">
                 <input id="sit" name="orderType" type="radio" class="custom-control-input" value="sitting" checked required>
                 <label class="custom-control-label" for="sit">Sitting</label>
               </div>
               <div class="custom-control custom-radio">
                 <input id="take" name="orderType" type="radio" class="custom-control-input" value="takeaway" required>
                 <label class="custom-control-label" for="take">Take Away</label>
               </div>
             </div>
     
             <hr class="mb-4">

             <h4 class="mb-3">Payment</h4>
     
             <div class="d-block my-3">
               <div class="custom-control custom-radio">
                 <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked value="credit" required>
                 <label class="custom-control-label" for="credit">Credit card</label>
               </div>
               <div class="custom-control custom-radio">
                 <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" value="debit" required>
                 <label class="custom-control-label" for="debit">Debit card</label>
               </div>
             </div>
             <div class="row">
               <div class="col-md-6 mb-3">
                 <label for="cc-number">Credit card number</label>
                 <input type="text" class="form-control" id="cc-number" placeholder="" required>
               </div>
             </div>
             <div class="row">
               <div class="col-md-3 mb-3">
                 <label for="cc-expiration">Expiration</label>
                 <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
               </div>
               <div class="col-md-3 mb-3">
                 <label for="cc-cvv">CVV</label>
                 <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
               </div>
             </div>
             <hr class="mb-4">
             <button [disabled]="angForm.pristine || angForm.invalid"
              (click)="getInfo(fname.value,lname.value,email.value,contact.value)"
               class="btn btn-primary btn-lg btn-block" type="button">Continue to checkout</button>
           </form>
         </div>
       </div>    
     </div>